@use 'partials' as *;

.reservation-summary {
  &__location {
    margin-bottom: 0;
  }

  &__room {
    &:not(:last-child) {
      margin-bottom: var(--spacing-compact);
    }
  }
}
a {
  cursor: pointer;
}
