//
// @file
// Basic HTML tag styles
//
// This file outputs to global.css, the primary stylesheet for the theme
//

// Make everything border-box
* {
  box-sizing: border-box;
}

html {
  font-size: cp($base-font-size, 16px);
}

body {
  @include fs(body);
  color: $clr-text;
  font-family: $ff-body;
}

//
// Headings
//
h1 {
  @include fs(headline);
  @include lh(0);
  color: $clr-heading;
  font-family: $ff-heading;
  margin: 1em 0;
}

h2 {
  @include fs(display);
  @include lh(0);
  color: $clr-heading;
  font-family: $ff-heading;
  margin: 1em 0;
}

h3 {
  @include fs(heading);
  @include lh(0);
  color: $clr-heading;
  font-family: $ff-heading;
  margin: 1em 0;
}

h4 {
  @include fs(subhead);
  @include lh(0);
  color: $clr-heading;
  font-family: $ff-heading;
  margin: 1em 0;
}

h5 {
  @include fs(body);
  @include lh(0);
  color: $clr-heading;
  font-family: $ff-heading;
  margin: 1em 0;
}

h6 {
  @include fs(caption);
  @include lh(0);
  color: $clr-heading;
  font-family: $ff-heading;
  margin: 1em 0;
}

// Rule
hr {
  border: 0;
  border-bottom: 1px solid $clr-border;
}

//
// Links
//
a {
  color: $clr-link;

  &:hover {
    text-decoration: none;
  }

  h1 > &,
  h2 > &,
  h3 > &,
  h4 > &,
  h5 > &,
  h6 > & {
    text-decoration: none;
  }
}

strong,
b {
}


//
// Copy
//
p {
  margin: 1em 0;
}

blockquote {
  margin: 1em 0;
}


//
// Images
//
img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;

  img {
    display: block;
  }
}

//
// Caption
//

figcaption {
  margin: 1em 0;
}

//
// Lists
//

li {
}

ul,
ol,
dl {
  margin: 1em 0;
}

//
// Definition Lists
//
dl {
}

dt {
  font-weight: $fw-bold;
}

dd {
}

button {
}

input {
}

input,
textarea {
  border: 1px solid $clr-border;
  max-width: 100%;
  padding: 1rem;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="number"] {
  height: 1.25rem;
}

input[type="file"] {
  height: inherit;
}

input[type="checkbox"] {
  height: auto;
}

input[type="submit"],
button {
}

label,
legend {
  margin: 1em 0;
}

select {
  appearance: none;
  background: $gray-90;
  border-color: $clr-border;
  border-radius: 0;
  height: rem(35px);
  padding: 0 10px;
  text-indent: .01px;
  text-overflow: "";
}

// Remove default IE arrow
select::-ms-expand { display: none; }

//
// Tables
//
table {
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom;
  margin: 1em 0;
  max-width: 100%;
  text-align: left;
  width: 100%;
}

thead {
  th {
    vertical-align: bottom;
  }

  th,
  td {
    border-bottom: 1px solid $clr-table-border;
  }
}

th,
td {
  border: 1px solid $clr-table-border;
  padding: 1rem;
  vertical-align: top;
}

th {
  background: $clr-table-header;
  color: $clr-heading;
}

caption {
  padding: 1rem;
}

// Account for multiple tbody instances
tbody + tbody {
  border-top: 2px solid $clr-table-border;
}

tr {
}

tr:nth-of-type(odd) { background-color: $clr-table-odd; }
tr:nth-of-type(even) { background-color: $clr-table-even; }

:focus {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: $clr-accent;
  outline-color: rgba($clr-accent, .6);
}

:active {
  outline: 0;
}
