//
// @file
// Form Styles
//
// Classes to support form elements
//

// Form Item Wrapper
.field {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.field__label {
  font-weight: bold;
}
