//
// @file
// Layout styles
//
// Classes to help apply layout
//

// Set the page width.
.l--constrained {
  @include box--constrained;
}

.l--narrow {
  @include box--narrow;
}

//
// Gutters
//
.l--gutters {
  @include box--gutters;
}

.l--offset {
  @include box--gutters(rem(20px));

  @include bp(medium) {
    @include box--gutters(rem(30px));
  }

  @include bp(large) {
    @include box--gutters(rem(50px));
  }
}

.l--padded {
  @include box--padded;
}


//
// Sidebar After
//
.l--sidebar-after {
  @include clearfix;

  @include bp(medium) {
    > .l__primary {
      float: left;
      width: cp(7, 12);
    }

    > .l__secondary {
      float: right;
      width: cp(4, 12);
    }
  }
}
