{% import '@intercept-base-components/component.twig' as component %}
{{ attach_library('intercept_base/features') }}

{% if features %}
<div {{ component.attributes('features', modifiers, attr) }}>
  <header class="features__header">
    <h4 class="features__heading">{{ heading|default('Features') }}</h4>
  </header>
  <ul class="features__list">
  {% for feature in features %}
    <li class="feature">{{ feature.content ?: feature.value ?: feature }}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}
