@use "sass:math";

@use 'partials' as *;

.evaluation__subject {
  &:not(:last-child) {
    @include spacing('margin-bottom', tight);
  }

  .listing {
    padding-right: 0;
  }
}

.evaluation {
  div[id^="webform-submission-intercept-event-feedback"],
  .evaluation__eval-widget,
  .evaluation__criteria-widget {
    width: 100%;

    &:not(:last-child) {
      @include spacing('margin-bottom', tight);
    }
  }

  .webform-card {
    border: none;
    padding: 0;
    margin: 0 0 1.875rem 0;
  }

  [id^="edit-step-1"] label,
  legend,
  .evaluation__widget-label {
    font-size: 20px;
    color: $gray-20;
    font-weight: $fw-semibold;
    margin: 0 0 0.75rem 0;
    display: block;

    &:not(:last-child) {
      @include spacing('margin-bottom', compact);
    }
  }

  .form-checkboxes label {
    vertical-align: top;
  }

  ul.thumbnails.image_picker_selector,
  .evaluation__widget-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  ul.thumbnails.image_picker_selector li .thumbnail {
    width: 100%;
    justify-content: inherit;
    border: none;
    padding: 9px;
    float: none;
    margin: 0;
    flex: 0 0 auto;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  .MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }

  .evaluation__radio-icon {
    background-color: $gray-80;
    border-radius: 50%;
    height: rem(80px);
    width: rem(80px);

    img,
    svg {
      height: math.percentage(math.div(60, 110));
      width: math.percentage(math.div(60, 110));
    }

    &[class*="checked"] {
      background-color: $clr-secondary;
    }

    &:not(:first-child) {
      margin-right: rem(10px);
    }
  }

  .form-submit {
    padding: 4px 10px;
    font-size: 0.8125rem;
    box-shadow: none;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-weight: 700;
    line-height: 1.75;
    border-radius: 0;
    letter-spacing: .1em;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  .webform-button--submit {
    // Has to be marked as important to override the inline style from webform.
    display: none !important;
  }

  @include bp(medium) {
    display: flex;
    justify-content: stretch;

    .evaluation__subject {
      flex: auto;
    }

    .evaluation__widget {
      flex: none;
      margin-left: rem(50px);
      padding-left: rem(50px);
      width: 50%;
    }

    .listing__text {
      font-size: rem(24px);
    }
  }

  @include bp(large) {
    .evaluation__widget {
      width: math.percentage(math.div(2, 3));
    }

    .evaluation__app {
      align-items: stretch;
      display: flex;
      justify-content: stretch;
    }

    .evaluation__criteria,
    .form-actions {
      flex: none;
      margin-left: rem(50px);
      padding-left: rem(50px);
      width: 50%;
    }

    .evaluation__radio-icon {
      height: rem(110px);
      width: rem(110px);

      svg {
        height: rem(60px);
        width: rem(60px);
      }

      &:first-child {
        margin-right: rem(20px);
      }
    }
  }
}

// This is used on the event detail page.
.evaluation.evaluation--inline {
  background-color: $gray-80;
  display: block;
  padding: 24px;

  .evaluation__app {
    width: 100%;
  }

  .evaluation__eval-widget {
    flex-basis: min-content;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .evaluation__widget-label {
    white-space: nowrap;
  }

  .evaluation__widget-inputs > :not(:last-child) {
    margin-right: 1em;
  }

  .evaluation__criteria {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .input-checkboxes__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(8em, 11em), 1fr));
  }

  .evaluation__radio-icon {
    --icon-color: #{$clr-secondary};
    --icon-color-hover: #{$clr-secondary};
    --icon-color-active: #{$white};
    --icon-color-background: #{$white};
    --icon-color-background-hover: #{$clr-secondary};
    --icon-color-background-active: #{$clr-secondary};
    background-color: var(--icon-color-background);

    path,
    circle:first-child {
      stroke: var(--icon-color) !important;
    }

    circle:not(:first-child) {
      fill: var(--icon-color) !important;
    }

    &:hover {
      background-color: var(--icon-color-background);

      path,
      circle:first-child {
        stroke: var(--icon-color-hover) !important;
      }

      circle:not(:first-child) {
        fill: var(--icon-color-hover) !important;
      }
    }

    &[class*="checked"] {
      background-color: var(--icon-color-background-active);

      path,
      circle:first-child {
        stroke: var(--icon-color-active) !important;
      }

      circle:not(:first-child) {
        fill: var(--icon-color-active) !important;
      }
    }
  }

  .evaluation__widget-label {
    // This is important to overide the focus state from MUI.
    color: $clr-text !important;
    margin-bottom: 16px;
  }
}

// Event Feedback webform
.webform-submission-form.webform-submission-intercept-event-feedback-form {
  .webform-button--draft {
    display: none !important;
  }
}
