@use 'partials' as *;

.summary--card {
  max-width: 24em;

  .summary__content {
    padding: var(--spacing-tight);
  }
}

.summary--calendar--event {
  .summary__content {
    padding: var(--spacing-compact);
  }
}

* + .summary__main {
  margin-top: 30px;
}

.summary__header {
  &:not(:last-child) {
    margin-bottom: var(--spacing-tight);
  }
}

.summary__body {
  font-size: var(--font-size-small);
  margin-top: var(--spacing-tight);

  &:not(:last-child) {
    margin-bottom: var(--spacing-tight);
  }
}

.summary__link {
  @include link--primary;
  text-decoration: none;
}

.summary__title {
  font-size: var(--font-size-h4);
  line-height: $lh-0;
}

.summary__supertitle {
  font-size: var(--font-size-micro);
  line-height: $lh-0;
}

.summary__subtitle {
  font-size: var(--font-size-micro);
  line-height: $lh-0;
}

.summary__dateline-date {
  font-size: var(--font-size-small);
  font-weight: $fw-bold;
}

.summary__label {
  font-size: var(--font-size-x-small);
  font-style: italic;
}

.summary__dateline-time {
  font-size: var(--font-size-x-small);
}

.summary__dateline-date,
.summary__dateline-time {
  line-height: $lh-0;
  display: block;
}

.summary__dateline,
.summary__dateline-date,
.summary__title,
// .summary__subtitle,
.summary__label {
  &:not(:last-child) {
    margin-bottom: var(--spacing-narrow);
  }
}

#drupal-off-canvas > .summary--off-canvas {
  margin-top: 1.875rem;
}
