{% macro listing(context) %}
  {% include '@intercept_base/node/node--event--listing.html.twig' with context %}
{% endmacro %}
<div class="evaluation__subject">
  {{ _self.listing(_context) }}
</div>
