//
// Breakpoint variables.
//

// Breakpoint settings
@include breakpoint-set('to ems', true);

// Breakpoint mapping
$breakpoints: (
  none:     0,
  tiny:     400px,
  default:  500px,
  small:    600px,
  medium:   768px,
  large:    992px,
  x-large:  1200px,
  w-max: 2200px
);
