//
// @file
// Breakpoint variables.
//

//
// Typefaces.
//
$ff-mono:  monospace;
$ff-sans:  sans-serif;
$ff-serif: serif;

//
// Semantic fonts.
//
$ff-body:    $ff-serif;
$ff-heading: $ff-sans;
$ff-display: $ff-sans;

//
// Base
//
$base-font-size:    20px;
$base-line-height:  1.25;

$font-sizes: (
  "none": (
    "micro": 12px,
    "tiny": 14px,
    "label": 16px,
    "small": 18px,
    "caption": 18px,
    "body": 18px,
    "subhead": 20px,
    "heading": 24px,
    "display": 27px,
    "headline": 34px,
    "mega": 48px
  ),
  "small": (
    "micro": 12px,
    "tiny": 14px,
    "label": 16px,
    "small": 18px,
    "caption": 18px,
    "body": 20px,
    "subhead": 24px,
    "heading": 36px,
    "display": 42px,
    "headline": 54px,
    "mega": 80px 90px
  )
);

// Line heights map
$lh: (
  -1: 1.1,
  0: $base-line-height,
  1: 1.5
);

//
// Font Weights
//
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 500;
$fw-bold: 600;
$fw-black: 900;

//
// Indentation.
//
$indent-amount: 1.5rem;
