{{ attach_library('intercept_base/header') }}
<div class="header">
  {% include '@intercept-base-components/header-mobile/header-mobile.twig' %}
  {% include '@intercept-base-components/header-desktop/header-desktop.twig' %}
</div>
