@import '_partials';

// SEARCH the Collection (Global Header)

// Container
.header__site-search {
  grid-column: 1;

  > div {
    @include bp(none large) {
      @include box--gutters();
      @include box--padded;
      background-color: $gray-80;
      box-shadow: 0 0.1875rem 1.6375rem 0 rgba(0, 0, 0, 0.25);
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: rem(60px);
      transform: translateY(-340px);
      transition: all $duration * 1.5 ease-in-out;
      width: 100%;
      z-index: -1;
    }

    //
    // Desktop
    //
    @include bp(large) {
      // align-items: flex-start;
      display: flex;
      // flex-direction: row;
      // flex-wrap: none;
      position: relative;
    }
  }
}

// Search form
.header__search-form {
  position: relative;
  width: 100%;

  // Search Input
  input[type='search'] {
    @include fs(label);
    box-sizing: border-box;
    border: 0;
    padding: 1rem;
    width: 100%;

    @include bp(none large) {
      background: $white;
    }

    @include bp(large) {
      background: $gray-80;
    }

    &::placeholder {
      @include fs(secondary-menu);
      color: $clr-secondary-dark;
    }
  }

  // Submit
  input[type='submit'] {
    background: url('/themes/contrib/intercept_base/images/icons/search.svg');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -999em;
    top: 0;
    width: 4rem;

    @include bp(large) {
      width: 5rem;
    }

    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

// My Account Trigger
.search-trigger {
  clip: rect(0, 0, 0, 0);
  position: absolute;

  &:checked {
    ~ div {
      display: flex;
      opacity: 1;
      transform: translateY(0);
    }

    ~ label {
      @include bp(none large) {
        background: $clr-secondary-dark;
      }

      &:after {
        transform: rotate(180deg);
      }

      .search-trigger__icon--collapse {
        opacity: 1;
        transform: rotate(0) scale(1);
      }

      .search-trigger__icon--expand {
        opacity: 0;
        transform: rotate(90deg) scale(0);
      }
    }
  }
}

// Search Trigger
.search-trigger {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

label[for='search-trigger'] {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  margin: auto;
  position: absolute;
  right: rem(120px);
  top: 0;
  width: rem(60px);
  z-index: 2;

  @include bp(default) {
    margin-right: 6.25%;
  }

  @include bp(large) {
    display: none;
  }
}

.search-trigger__icon {
  left: 50%;
  margin-left: -0.75rem;
  position: absolute;

  path {
    stroke: $clr-primary;
  }

  rect,
  polygon {
    fill: $clr-primary;
  }
}

.search-trigger__icon--expand {
  opacity: 1;
  transform: rotate(0) scale(1);
  transition: all $duration ease-in-out;
}

.search-trigger__icon--collapse {
  opacity: 0;
  transform: rotate(-90deg) scale(0);
  transition: all $duration ease-in-out;
}

// Search Trigger CHECKED
.search-trigger:checked {
  ~ div {
    @include bp(none large) {
      opacity: 1;
      transform: translateY(0);
    }
  }

  ~ label {
    background: $gray-80;

    .search-trigger__icon--collapse {
      opacity: 1;
      transform: rotate(0) scale(1);
    }

    .search-trigger__icon--expand {
      opacity: 0;
      transform: rotate(90deg) scale(0);
    }
  }
}
