@import '_partials';

// Utilities Menu (REGION)
.header__utilities {
  display: flex;
  grid-column: 2;
  height: 3.5rem;
  min-height: 100%;

  @include bp(large) {
    position: relative;
    z-index: 2;
  }
}

.header__utilities .region--secondary-menu {
  background-color: $clr-secondary-dark;

  /* Fix the default input background color on autofilled inputs */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $white inset !important;
  }

  label {
    color: $white;
  }

  @include bp(none large) {
    @include box--gutters();
    @include box--padded;
    box-shadow: 0 1rem 0.5rem 0 rgba(0, 0, 0, 0.25);
    height: 75vh;
    left: 0;
    opacity: 0;
    padding-bottom: rem(60px);
    position: absolute;
    right: 0;
    top: rem(60px);
    transform: translateY(-100%);
    transition: all $duration * 1.5 ease-in-out;
    width: 100%;
    z-index: -1;
  }

  //
  // Desktop
  //
  @include bp(large) {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
  }
}

.header__utilities .account-trigger--logged-out ~ .region--secondary-menu {
  @include bp(none large) {
    background-color: $gray-80;
  }
}

// MENU
.menu--account {
  @include fs(secondary-menu);
  @include nav;
  display: flex;
  flex-direction: column;

  @include bp(large) {
    flex-wrap: wrap;
    max-height: 195px;
    overflow-x: hidden;
  }

  @include bp(x-large) {
    flex-direction: column;
    max-height: rem(150px);
  }

  li {
    @include bp(large) {
      min-width: percentage(1/2);
    }

    @include bp(x-large) {
      min-width: percentage(1/3);
      padding-right: rem(20px);
    }
  }

  a {
    color: $white;
    line-height: 1.8;
    padding: 0.25rem 0;
    text-decoration: none;

    @include bp(none large) {
      display: block;
      margin-bottom: 0.75rem;
    }
  }
}

// My Account Trigger
.account-trigger {
  clip: rect(0, 0, 0, 0);
  position: absolute;

  // Menu Contents
  ~ .region--secondary-menu {
    display: none;

    @include bp(large) {
      background: $clr-secondary-dark;
      display: none;
      padding: 2.5rem;
      position: absolute;
      right: 0;
      top: 100%;
      width: 34rem;
    }

    @include bp(x-large) {
      width: 50rem;
    }
  }

  &:checked {
    ~ .region--secondary-menu {
      display: block;
      opacity: 1;
      overflow-y: auto;
      transform: translateY(0);
    }

    ~ label {
      @include bp(none large) {
        background: $clr-secondary-dark;
      }

      &:after {
        transform: rotate(180deg);
      }

      .nav-trigger__icon--collapse {
        left: 45%;
        opacity: 1;
        transform: rotate(0) scale(1);
        width: rem(30px);
      }

      .nav-trigger__icon--expand {
        opacity: 0;
        transform: rotate(90deg) scale(0);
      }
    }
  }
}

// Account Trigger (button / icon)
label[for='account-trigger'].account-trigger--is-staff {
  @include bp(large) {
    background-color: $magenta-50;
    transition: background-color $duration $easing;
  }

  &:hover {
    @include bp(large) {
      background-color: $magenta-60; // 10% darker than above
    }
  }
}

label[for='account-trigger'],
.account-trigger--logged-out {
  @include fs(small);
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  transition: all $duration $easing;

  @include bp(default) {
    margin-right: 6.25%;
  }

  @include bp(none large) {
    align-items: center;
    background: transparent;
    display: flex;
    height: 100%;
    position: absolute;
    right: rem(60px);
    text-align: center;
    top: 0;
    width: rem(60px);
  }

  @include bp(large) {
    align-items: center;
    background: $clr-primary;
    color: $white;
    display: flex;
    height: auto;
    letter-spacing: rem(1.5px);
    min-width: 15.25rem;
    padding: 0 4rem 0 2.5rem;
    position: relative;
    text-transform: uppercase;
  }

  &::after {
    border-top: rem(8px) solid #fff;
    border-left: rem(8px) solid transparent;
    border-right: rem(8px) solid transparent;
    height: 0;
    margin-left: 0.5rem;
    margin-top: -#{rem(4px)};
    position: absolute;
    right: 2.5rem;
    top: 50%;
    width: 0;

    @include bp(large) {
      content: '';
    }
  }

  span {
    align-items: center;
    display: flex;
  }

  .mobile {
    @include bp(none large) {
      width: 100%;
    }

    @include bp(large) {
      display: none;
    }

    svg {
      width: 1.25rem;

      .st0 {
        fill: $clr-primary;
      }
    }
  }

  .desktop {
    display: none;

    @include bp(large) {
      display: inline;
    }
  }
}

// Logged Out
label[for='account-trigger'].account-trigger--logged-out {
  text-decoration: none;

  @include bp(large) {
    margin-right: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  &::after {
    display: none;
  }

  ~ .region--secondary-menu {
    background: $gray-80;

    @include bp(large) {
      background: $gray-80;
      width: 25rem;
    }
  }

  span {
    width: 100%;
  }
}

.account-trigger:checked ~ label[for='account-trigger'].account-trigger--logged-out {
  @include bp(none large) {
    background: $gray-80;
  }
}

.header #user-login-form {
  .form-item {
    margin: 0 0 1rem;
  }

  .field-suffix {
    font-size: 14px;
    margin: 0.25rem 0 0 0;

    a {
      text-decoration: none;
      font-weight: normal;
    }
  }

  label {
    color: $gray-30;
    display: block;
    font-weight: bold;
    margin: 0 0 0.25rem;

    @include bp(large) {
      @include fs(small);
      font-weight: normal;
    }
  }

  input {
    border: 0;
    display: block;
    padding: 1rem;
    width: 100%;

    &[type='submit'] {
      font-weight: 600;
      padding-bottom: 1.25rem;
      padding-top: 1.25rem;
    }
  }

  + .item-list {
    ul {
      margin-top: 1rem;
      padding-left: 0;
      li {
        margin-bottom: 0.5rem;
        &:before {
          content: '';
        }
        a {
          color: $gray-30;
        }
      }
    }
  }
}
