parameters:
  level: 1
  bootstrapFiles:
    - bootstrap.php
  reportUnmatchedIgnoredErrors: true
  checkMissingIterableValueType: false
  customRulesetUsed: true
  paths:
    - .
  scanFiles:
    - core/includes/install.inc
  scanDirectories:
    - vendor/rlanvin/php-rrule/
    - core/modules/system/
  fileExtensions:
    - module
    - theme
    - profile
    - install
    - inc
  ignoreErrors:
    - '#Unsafe usage of new static\(\).#'
    - '#is deprecated in drupal:10.1.0 and is removed from drupal#'
  strictRules:
    booleansInConditions: false
    disallowedConstructs: false
