//
// @file
// Color variables.
//
// SEE https://yeun.github.io/open-color/
//

// B & W
$black:             #000;
$white:             #fff;

// Grayscale
$gray-00:            #130f13; // Not in Style Guide
$gray-10:            #261f26; // Not in Style Guide
$gray-20:            #4C4D4F;
$gray-30:            #7A7D81;
$gray-40:            #818487;
$gray-50:            #878B90;
$gray-60:            #D3D8DF;
$gray-70:            #E4E8EB;
$gray-80:            #EEF1F4;
$gray-90:            #F6F8F9;

// Red
$red-50:             #F44336;

// Blue
$blue-10:            #008DB1;
$blue-20:            #0277BD;
$blue-40:            #0288D1;
$blue-50:            #039BE5;
$blue-60:            #03A9F4;
$blue-80:            #29B6F6;

// Green
$green-60:           #99C221;

// Orange
$orange-40:          rgb(228, 134, 19);
$orange-50:          #FFA726;
$orange-60:          rgb(253, 196, 24);

// Magenta
$magenta-50:        #C91B76;
$magenta-60:        #B0025D;

// Primary
$clr-primary-dark:    $blue-20;
$clr-primary:         $blue-40;
$clr-primary-light:   $blue-50;
$clr-primary-lighter: $blue-60;

// Secondary
$clr-secondary-dark:  $gray-20;
$clr-secondary:       $gray-30;
$clr-secondary-light: $gray-60;

// Tertiary
$clr-tertiary-dark:  $orange-40;
$clr-tertiary:       $orange-50;
$clr-tertiary-light: $orange-60;

//
// Semantic colors
//

$clr-neutral:        $gray-50;           // Default nuetral color
$clr-text:           $gray-20;           // Default body copy color
$clr-link:           $clr-secondary;             // Default link color
$clr-heading:        $gray-20;           // Default accent color
$clr-accent:         $clr-secondary;            // Default accent color
$clr-active:         $orange-50;            // Default accent color
$clr-border:         $gray-60;              // Default border and required color
$clr-status:         $gray-20;              // Default status color
$clr-warning:        $orange-50;              // Default warning color
$clr-error:          $red-50;              // Default error and required color
$clr-table-border:   $clr-border;       // Default table border color
$clr-table-header:   $gray-70;
$clr-table-odd:      $white;           // Default table odd row color
$clr-table-even:     $gray-90;            // Default table even row color
$clr-gray-bg:        $gray-80;            // Default table even row color
