// Setting element spacing
$sp-tiny: 3px;
$sp-narrow: 8px;
$sp-compact: 12px;
$sp-tighter: 22px;
$sp-tight:  30px;
$sp-normal: 50px;
$sp-loose:  100px;
$sp-looser: 125px;
$sp-sparse: 150px;
$sp-sparser: 200px;
