@use 'partials' as *;

.page-title {
  font-size: var(--font-size-h1);
  line-height: $lh-0;
  padding-bottom: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: rem($sp-normal);
  }
}

.page-title--small {
  font-size: var(--font-size-h2);
  margin-bottom: 0;
  padding-bottom: 0;
}
