@import "_partials";

.page-title {
  @include fs(h1);
  @include lh(0);
  padding-bottom: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-bottom: rem($sp-normal);
  }
}

.page-title--small {
  @include fs(h2);
  margin-bottom: 0;
  padding-bottom: 0;
}
