@use "partials" as *;

.fc {
  table {
    margin-top: 0;
    margin-bottom: 0;
  }

  .fc-button {
    font-size: .825rem;
    font-weight: 600;
    letter-spacing: 0.01;
    text-transform: uppercase;
    padding: .33em .75em;
  }

  .fc-button-primary:not(:disabled).fc-button-active {
    color: var(--fc-button-active-text-color);
  }

  .fc-button-primary:not(:disabled):not(.fc-button-active):hover {
    background-color: var(--fc-button-hover-bg-color);
    color: var(--fc-button-hover-text-color);
    border-color: var(--fc-button-hover-border-color);
  }

  .fc-button-primary:disabled {
    border-color: var(--fc-button-disabled-border-color);
  }

  @include bp(none large) {
    .fc-toolbar {
      flex-wrap: wrap;
      justify-content: center;
    }

    .fc-toolbar-chunk:nth-child(2) {
      width: 100%;
      text-align: center;
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }

  .fc-toolbar-title {
    font-size: 1.75rem;
  }
}

.fullcalendar-block-dialog.ui-dialog {
  max-width: #{'min(calc(100% - 40px), 1280px)'} !important;

  .ui-dialog-titlebar {
    background-color: transparent;
    z-index: 101;
  }

  .ui-dialog-title {
    display: none;
  }

  .ui-dialog-content {
    margin-top: -10px;
  }

  .summary {
    margin-bottom: 20px;
  }

  .summary__header {
    margin-right: 40px;
  }
}

.page-spinner {
  width: 100%;
  height: 6px;
  background-color: $clr-primary;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.85);

  &:after {
    content: '';
    display: block;
    height: 100%;
    background-color: $clr-tertiary;
    animation: progress-animation 2s infinite ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@keyframes progress-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}