@use "partials" as *;

.fc {
  --fc-button-text-color: #4c4d4f;
  --fc-button-bg-color: white;
  --fc-button-border-color: #d3d8df;
  --fc-button-hover-bg-color: white;
  --fc-button-hover-text-color:  #{$clr-tertiary};
  --fc-button-hover-border-color:  #{$clr-tertiary};
  --fc-button-active-text-color: white;
  --fc-button-active-bg-color:  #{$clr-tertiary};
  --fc-button-active-border-color: #{$clr-tertiary};
  --fc-button-disabled-border-color: #d3d8df;
}
.fc-h-event .fc-event-main,
.fc-event {
  color: inherit;
}
.fc-daygrid-block-event .fc-event-title {
  font-weight: 700;
  padding-left: 10px;
}
.fc-timeGridWeek-view .fc-event-main-frame,
.fc-timeGridDay-view .fc-event-main-frame {
  color: $clr-text;
  font-weight: 700;
}