// Import Partials
@use "partials" as *;

.fc {
  .fc-button {
    display: none;
  }
}

.intercept-events-calendar {
  font-size: var(--font-size-body);

  th,
  td,
  .fc-daygrid-event {
    font-size: var(--font-size-body);
  }
}
