//
// @file
// Layout styles
//
// Classes to help apply layout
//

//
// Page
//
.l--page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;

  > .l--page {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

.l--page {
  @include box--constrained(1600px);
  position: relative;
  align-self: stretch;
  flex: 1;
}

// Set the page width.
.l--constrained {
  @include box--constrained;
}

.l--narrow {
  @include box--narrow;
}

.l--overflow-x {
  max-width: 100%;
  overflow-x: auto;
}

//
// Gutters
//
.l--offset {
  @include box--gutters(percentage(.5/7));

  @include bp(medium) {
    @include box--gutters(percentage(1/16));
  }

  @include bp(large) {
    @include box--gutters(percentage(2/27));
  }
}

.l--offset-left {
  @include box--gutters(percentage(.5/7), 0);

  @include bp(medium) {
    @include box--gutters(percentage(1/16), 0);
  }

  @include bp(large) {
    @include box--gutters(percentage(2/27), 0);
  }
}

.l--offset-right {
  @include box--gutters(0, percentage(.5/7));

  @include bp(medium) {
    @include box--gutters(0, percentage(1/16));
  }

  @include bp(large) {
    @include box--gutters(0, percentage(2/27));
  }
}

.l--padded {
  @include box--padded;
}

.l--default {
  > .l__header,
  > .l__main {
    &:not(:last-child) {
      @include spacing(margin-bottom, loose);
    }
  }
}


//
// Sidebars
//
.l--sidebar-after,
.l--sidebar-before {

  > .l__header,
  > .l__main {
    &:not(:last-child) {
      @include spacing(margin-bottom, loose);
    }
  }

  > .l__main > .l__primary,
  > .l__main > .l__secondary {
    @include bp(none medium) {
      &:not(:last-child) {
        @include spacing(margin-bottom, loose, none);
      }
    }
  }

  > .l__main {
    @include clearfix;
  }

  @include bp(medium) {
    > .l__main > .l__primary {
      width: percentage(9/14);
    }

    > .l__main > .l__secondary {
      width: percentage(4/14);
    }
  }

  @include bp(large) {
    > .l__main > .l__primary {
      width: percentage(15/23);
    }

    > .l__main > .l__secondary {
      width: percentage(6/23);
    }
  }
}

//
// Sidebar After
//
.l--sidebar-after {
  @include bp(medium) {
    > .l__main > .l__primary {
      float: left;
    }

    > .l__main > .l__secondary {
      float: right;
    }
  }
}

//
// Sidebar Before
//
.l--sidebar-before {
  @include bp(medium) {
    > .l__main > .l__primary {
      float: right;
    }

    > .l__main > .l__secondary {
      float: left;
    }
  }
}


//
// Sidebars
//
.l--2-col {
  > .l__header,
  > .l__main {
    &:not(:last-child) {
      @include spacing(margin-bottom, loose);
    }
  }

  > .l__main {
    @include bp(medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  > .l__main > .l__primary,
  > .l__main > .l__secondary {
    @include bp(none medium) {
      &:not(:last-child) {
        @include spacing(margin-bottom, loose, none);
      }
    }

    @include bp(medium) {
      width: percentage(6/13);
    }

    @include bp(m-large) {
      width: percentage(10/23);
    }
  }
}

.l--2-col--ruled {
  > .l__main {
    > .l__secondary {
      position: relative;

      @include bp(medium) {
        &:after {
          background-image: radial-gradient(circle, #818487 .0825em, transparent .0876em);
          background-position: top center;
          background-repeat: repeat-y;
          background-size: .3125em .3125em;
          bottom: 0;
          content: "";
          display: block;
          left: percentage(-.5/6);
          margin: auto;
          position: absolute;
          top: 0;
          width: .325em;
        }
      }

      @include bp(m-large) {
        &:after {
          left: percentage(-1.5/10);
        }
      }
    }
  }
}

.l--section-xl {
  @include l--section-xl;
}

.l--section {
  @include l--section;
}

.l--subsection {
  @include spacing(margin-bottom, normal);
}

.l--subsection--tight {
  @include spacing(margin-bottom, tight);
}

// Page specific style

// This is reserve space while content is loading
// So linking to this anchor is a little less jarring.
[id="eventRegisterRoot"] {
  min-height: rem(200px);
}
