//
// @file
// WYSIWYG Styles
//
// Styles for classes added by WYSIWYG editor
//
@use "partials" as *;

.align-left {
  margin: 0 1rem 1rem 0;
}

.align-right {
  margin: 0 0 1rem 1rem;
}

.align-center {
  display: table;
}

figure.align-center.caption {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  figcaption {
    text-align: center;
  }
}
