@use 'partials' as *;

.view-switcher {
  display: flex;
  justify-content: flex-end;

  &:not(:last-child) {
    margin-bottom: rem(15px);
  }

  .visually-hidden {
    margin: 0;
  }
}

.view-switcher__button {
  font-size: var(--font-size-x-small);
  background-color: transparent;
  padding: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &:disabled {
    color: $clr-text;
  }

  &:not(:last-child) {
    padding-right: var(--spacing-tight);
    margin-right: var(--spacing-tight);
    border-right: 1px solid $clr-border;
  }
}
