{{ attach_library('intercept_base/footer') }}

<footer class="footer" role="contentinfo">
  <div class="l--page {{page_class}}">
    <div class="l--offset">
      {{ footer }}
    </div>
  </div>
</footer>
