@import "_partials";

.content-details {
  background-color: $gray-80;
  padding: percentage(1/16);

  @include bp(smallish) {
    display: flex;
  }

  @include bp(x-medium) {
    padding: rem(60px);
  }

  @include bp(x-large) {
    flex-direction: row;
  }

  .detail {
    @include lh(1);
    padding-bottom: percentage(1/16);

    @include bp(smallish) {
      padding-bottom: 0;
      width: calc(50% - 100px);
    }

    @include bp(large) {
      display: flex;
      flex-direction: row;
    }

    &__header {
      @include bp(large) {
        flex: 1 0 30%;
      }
    }
    &__heading {
      @include fs(medium);
      @include lh(0);
      color: $blue-60;
    }

    &__content {
      @include fs(label);
      color: $gray-30;

      @include bp(large) {
        background: url("/themes/contrib/intercept_base/images/dots/dots--vert_gray.svg") 0 0 repeat-y;
        flex: 1 0 70%;
        padding: 0 rem(30px);
      }

      &__item {
        @include lh(0);
        padding-bottom: rem(20px);

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      .country {
        display: none;
      }

      span {
        @include lh(1);
        vertical-align: text-top;
      }

      .office-hours__item-label {
        font-weight: normal;
      }

      .office-hours__item:first-child,
      .office-hours__item:first-child .office-hours__item-label {
        font-weight: $fw-bold;
      }
      
      a:not([class]) {
        /*@include button--arrow-green;*/
        text-transform: uppercase;
      }
    }
  }
}

.content-details--solicitation {
  .detail__content {
    .detail__content__files {
      span {
        vertical-align: initial;
  
        a:not([class]) {
          &::after {
            background-image: url("/themes/contrib/intercept_base/images/icons/download--white.svg");
            padding: 0px rem(10px);
            width: rem(5px);
          }
          &:hover::after {
            background-position: center;
          }
        }
      }
    }
  }
}

// Social media sharing icons on detail pages
.content-details--with-sharing {
  padding: percentage(1/16) percentage(1/16) 2.25% percentage(1/16);
}
.content-details-sharing {
  background-color: $gray-80;
  padding: 0 percentage(1/16) percentage(1/16) percentage(1/16);

  .share {
    float: left;
    padding: 0.5rem 0.5rem 0.5rem 0;
  
    @include bp(small) {
      padding: 0.75rem 0.5rem 0.75rem 0;
    }
  }
  .menu--social-media-menu {
    justify-content: left;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
  
    a {
      background-color: black;
      filter: brightness(100);
      mask-repeat: no-repeat;
      -webkit-mask-position-y: center;
  
      &:hover {
        // 4 or 8 digit hex color, or named color (like "red") required to make this work. Not sure why.
        background-color: black;
      }
    }
  }
}