@use 'partials' as *;

.section-title {
  > span {
    display: block;
  }

  > small {
    font-size: var(--font-size-tiny);
    display: block;
    margin-top: .5em;
  }

  &:not(:last-child) {
    margin-bottom: var(--spacing-compact);
  }
}

.section-title--primary {

}

.section-title--dark {
  &:not(:last-child) {
    margin-bottom: var(--spacing-normal);
  }
}

.section-title--ruled {
  border-bottom: solid rem(1px) $clr-border;
  margin-bottom: rem($sp-loose);
  padding-bottom: rem($sp-normal);
}

.section-title--secondary {
  font-size: var(--font-size-body);
  font-weight: $fw-bold;

  &:not(:last-child) {
    margin-bottom: var(--spacing-compact);
  }
}

.section-title--tertiary {

}
