@import "_partials";

.more-link {
  @include fs(small);
  display: inline-block;
  font-weight: $fw-bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-out;
  white-space: normal;

  &:hover,
  &:focus {
    .more-link__arrow {
      transform: translateX(.5em);
    }
  }

  &:not(:last-child) {
    margin-bottom: rem($sp-loose);
  }
}

.more-link__arrow {
  display: inline-block;
  transition: transform .2s ease-out;
  white-space: nowrap;
}

.more-link__wrapper {
  display: flex;
  justify-content: space-between;

  > .more-link {
    margin-bottom: rem($sp-tight);
  }

  > .more-link:first-child {
    margin-right: rem($sp-tight);
  }
}

//
// Modifiers
//
.more-link--back {
  &:hover,
  &:focus {
    .more-link__arrow {
      transform: translateX(-.5em);
    }
  }
}
