<div class="event-eval-feedback">
  <div class="event-eval-feedback__content">{{content}}</div>
  <div class="event-eval-feedback__user"><span class="event-eval-feedback__user-label visually-hidden">{{'From'|t}}</span> - {{user}}</div>
</div>
