{#
/**
 * @file intercept-event-list.html.twig
 * Default theme implementation for the Events list.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_list()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('intercept-event-list') }}>
  <div id="eventListRoot"></div>
</div>
