@use 'partials' as *;

.intercept-dashboard-chart__table,
.intercept-dashboard-table__table {
  thead th {
    border-bottom: 0;
  }

  tbody a {
    @include link--underline-on-hover;
    font-weight: $fw-bold;
  }
}

.intercept-dashboard-table__footer {
  border-top: 1px solid $clr-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

.intercept-dashboard-chart__toggle {
  align-content: center;
  background-color: $gray-80;
  color: $clr-text;
  display: flex;
  text-transform: none;

  &:before {
    content: "";
    display: block;
    height: .9em;
    width: 1em;
    background-image: svg-load('icons/table.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: .75em;
  }
}

.intercept-dashboard-chart__table {
  margin-top: 0;

  th,
  td {
    padding-top: .5em;
    padding-bottom: .5em;
  }
}
