@import "_partials";

.intercept-dashboard-table__table {
  thead th {
    border-bottom: 0;
  }

  tbody a {
    @include link--underline-on-hover;
  }
}

.intercept-dashboard-table__footer {
  border-top: 1px solid $clr-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}
