/* Text Overlay Preview */

#text-overlay-preview {
  margin-right: 5%;
  padding: 25px 25px 21px;
  text-align: center;
  border: 1px solid #999;
  background-image: url(../misc/images/transparent.png);
}

#text-overlay-preview img {
  margin: 0;
  padding: 0;
}
