{% extends '@intercept_base/page/page.html.twig' %}
{% set page_class = 'l--page-minimal' %}
{% block main %}
<main role="main" class="l--section l--offset">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <div class="l--constrained">
    {% include '@intercept-base-components/page-title/page-title.twig' with {
      text: page['#title'],
      modifiers: ['ruled'],
    } %}
  </div>
  {{ page.content }}
</main>
{% endblock %}
