{#
/**
 * @file
 * UI Pattern library standalone page, override this in your theme.
 */
#}

{% if pattern is not empty %}


  {# Rendered pattern preview. #}
  <div class="ui_pattern">
    <h6>{{ "Preview"|t }}</h6>
    <div>
      {{ pattern.rendered }}
    </div>
  </div>
  
  {{ pattern.meta }}

{% endif %}
