@use "sass:math";

@use 'partials' as *;

.addtocalendar {
  align-items: center;
  display: flex;
  font-style: normal;

  .atc_event {
    display: none;
  }
}

.react-add-to-calendar {
  position: relative;
}

.addtocalendar .atcb-link,
.react-add-to-calendar__button {
  @include fs(micro);
  @include lh(-1);
  align-items: center;
  color: $gray-30 !important;
  display: flex;
  height: rem(30px);
  font-style: normal;
  letter-spacing: math.div(2, 16) * 1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s ease-out;
  white-space: normal;

  &:hover,
  &:focus {
    cursor: pointer;
    color: $gray-10 !important;
  }

  &:before {
    align-items: center;
    background-image: svg-load('icons/calendar-add.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.875em;
    content: "";
    display: inline-flex;
    height: 1.875em;
    justify-content: center;
    margin-right: rem(10px);
    transition: transform .2s ease-out;
    white-space: nowrap;
    width: 2.875em;
  }

  > span {
    align-items: center;
    display: flex;
    height: rem(30px);
  }
}

.react-add-to-calendar__dropdown {
  background-color: $white;
  box-shadow: 1px 1px 2px 1px rgba($gray-40, .4);
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;

  > ul:not([class]) {
    @include list--no-bullets;

  }

  > ul:not([class]) > li {
    margin: 0;
    padding: 0;

    &::before {
      content: none;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-80;
    }
  }

  > ul:not([class]) > li > a {
    @include fs(micro);
    @include lh(-1);
    display: block;
    padding: .75em 1em;
    text-decoration: none;
  }
}

.teaser__footer {

  @include bp(large) {
    .room-reservation-addtocalendar {
      text-align: left;
    }
  }

  .react-add-to-calendar__button {
    &:before {
      margin-right: 2rem;
    }
  }

  .react-add-to-calendar__dropdown {

    > ul:not([class]) > li > a {
      @include fs(nano);
    }
  }
}
