//
// @file
// Cart Component Styles
//

@use 'partials' as *;

.card__content {
  padding: var(--spacing-compact);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.card__body {
  font-size: var(--font-size-small);
  margin-top: var(--spacing-compact);
}

.card__footer {
  margin-top: auto;
}

.card__label {
  font-size: var(--font-size-small);
  margin-top: var(--spacing-compact);
  font-style: italic;
}

.card__dateline-date {
  margin-bottom: 0;
}

.card--constrained {
  max-width: rem(370px);
}
