@import '_partials';

.messages__content {
  color: $gray-20;

  a {
    color: $gray-20;
    font-weight: bold;
  }
}

// TODO: Rework these to .message--error etc.
$messages: (
  status: $clr-status,
  warning: $clr-warning,
  error: $clr-error
);

@each $type, $color in $messages {
  .messages--#{$type} {
    background-color: mix($color, $white, 10%);

    .messages__icon {
      background-color: $color;
    }
  }
}

.messages--full-screen {
  background-color: $clr-primary;
  color: $white;

  .messages__icon {
    background: transparent;
  }

  .messages__content {
    color: $white;
  }
}

// Webform override messages info icon
.webform-message {
  .messages.messages--info {
    background-image: none;
  }
}
