# Configuration file for PHPStan static code checking, see https://phpstan.org .

includes:
  - phpstan-baseline.neon

parameters:

  level: 6

  paths:
    - .

  treatPhpDocTypesAsCertain: false

  ignoreErrors:
    # Ignore common errors for now.
    - "#^Class .* has an uninitialized readonly property .*\\. Assign it in the constructor\\.#"
    - "#^Readonly property .* is assigned outside of the constructor\\.#"
    -
      identifier: classExtendsInternalClass.classExtendsInternalClass
      reportUnmatched: false
