@import '_partials';

.header-desktop {
  --color-background: #FFF;
  --color-background-focus: #f6f8f9;
  --color-background-active: #f6f8f9;
  align-self: stretch;
  background-color: var(--color-background);
  padding: 0;

  @include bp (none large) {
    display: none;
  }
}

.header-desktop__inner {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 60px);
  width: 1600px;
}

.header-desktop__logo {
  align-self: flex-end;
  margin-bottom: 42px;
  flex: none;
  width: rem(260px);

  @include bp(x-large) {
    width: rem(312px);
  }
}

.header-desktop__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 120px;
}

.header-desktop__secondary {
  position: relative;
  align-items: center;
  background-color: var(--color-background-active);
  display: flex;
  justify-content: flex-end;
  margin: 0;
  background-position: left top;
  z-index: 1;
  padding-bottom: rem(12px);
  padding-top: rem(12px);

  &::before {
    background-color: var(--color-background-active);
    content: "";
    display: block;
    position: absolute;
    height: 175%;
    width: 75px;
    left: 0;
    bottom: 0;
    transform: rotateZ(-55deg);
    transform-origin: bottom left;
    z-index: -1;
  }

  &::after {
    background-color: var(--color-background-active);
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: #{"max(calc((100vw - 1540px) / 2), 30px)"};
    left: 100%;
    z-index: -2; // fix for dropshadow of log in / sign up dropdown
  }

  @include bp(x-large) {
    padding-top: rem(20px);
    padding-bottom: rem(20px);
  }
}

.header-desktop__primary {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 30px;

  .region--primary-menu {
    margin-right: 16px;
  }
}

.header__site-navigation {
  margin-left: 12px !important;
}

.header-desktop__search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: auto;
}

.header-desktop__secondary-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10px;
  padding: 0;
}

.header-desktop__secondary-menu-item {
  display: flex;
  margin: rem(5px) rem(12px);

  @include bp(x-large) {
    margin: rem(5px) rem(16px);
  }
}

.header-desktop__secondary-menu-link {
  color: #4c4d4f;
  text-decoration: none;
  font-weight: 600;
  font-size: rem(14px);
  line-height: 25px;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $clr-secondary;
  }

  @include bp(x-large) {
    font-size: rem(18px);
  }
}

//
// Header Search
//
.header-desktop__search-button {
  text-transform: none;
  display: flex;
  align-items: center;
  padding: .5em 1em;
  line-height: 1.2;
  font-size: rem(24px);
  letter-spacing: 0;

  &::after {
    display: inline-flex;
    content: ' ';
    position: relative;
    background-image: inline-svg('<svg width="16" height="17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.781 14.344c.125.156.219.344.219.531a.754.754 0 0 1-.219.531l-.875.875a.732.732 0 0 1-.531.219c-.219 0-.406-.063-.531-.219l-3.125-3.125c-.156-.125-.219-.312-.219-.531v-.5c-1.188.938-2.5 1.375-4 1.375-1.188 0-2.281-.281-3.281-.875a6.035 6.035 0 0 1-2.344-2.344C.281 9.281 0 8.187 0 7c0-1.188.281-2.25.875-3.25.563-1 1.344-1.781 2.344-2.375C4.219.812 5.313.5 6.5.5c1.188 0 2.25.313 3.25.875a6.653 6.653 0 0 1 2.375 2.375C12.688 4.75 13 5.813 13 7c0 1.5-.469 2.844-1.375 4h.5c.188 0 .375.094.531.219l3.125 3.125ZM6.5 11c.719 0 1.375-.156 2-.531.625-.344 1.094-.813 1.469-1.438A4.102 4.102 0 0 0 10.5 7c0-.719-.188-1.375-.531-2A4.134 4.134 0 0 0 8.5 3.531 4.073 4.073 0 0 0 6.5 3c-.75 0-1.406.188-2.031.531-.625.375-1.094.844-1.438 1.469-.375.625-.531 1.281-.531 2 0 .75.156 1.406.531 2.031A3.539 3.539 0 0 0 4.47 10.47C5.094 10.844 5.75 11 6.5 11Z" fill="#fff"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 1em;
    width: 1em;
    margin-left: .5em;
    transition: all $duration * 1.2 ease-out;
  }

  &[aria-expanded="true"] {
    &::after {
      background-image: inline-svg('<svg width="13" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m8.156 6.75 4.57 4.57c.07.106.106.211.106.317 0 .14-.035.21-.105.281l-.809.809a.4.4 0 0 1-.281.105c-.14 0-.246-.035-.317-.105l-4.57-4.57-4.57 4.57a.567.567 0 0 1-.317.105c-.14 0-.21-.035-.281-.105l-.809-.809c-.07-.07-.105-.14-.105-.281 0-.106.035-.211.105-.317l4.57-4.57-4.57-4.57c-.07-.07-.105-.176-.105-.317a.4.4 0 0 1 .105-.281l.809-.809c.07-.07.14-.105.281-.105.106 0 .211.035.317.105l4.57 4.57 4.57-4.57c.07-.07.176-.105.317-.105a.4.4 0 0 1 .281.105l.809.809a.4.4 0 0 1 .105.281c0 .14-.035.246-.105.317l-4.57 4.57Z" fill="#fff"/></svg>');
      transform: rotate(90deg) scale(.8);
    }
  }
}

.header-desktop__search-panel {
  background-color: var(--color-background-active);
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  @include box--gutters();
  @include box--padded;
  padding-bottom: 20px;
  background-color: $gray-80;
  box-shadow: 0 1rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  margin: auto;
  opacity: 0;
  position: absolute;
  transform: translateY(-50%);
  transition: all $duration * .6 ease-in-out;
  z-index: -1;
  visibility: hidden;
  width: 100%;

  .search-bar {
    max-width: calc(100% - 60px);
    width: 1600px;
    margin: auto;
  }

  .search-bar__form {
    border: 0;
  }

  .search-bar__input {
    border: 1px solid #007E9E;
    border-right: 0;
    padding: 20px 24px;
    font-size: rem(16px);
  }

  .search-bar__submit {
    border: 1px solid #007E9E;
    border-left: 0;
  }

  .search-bar__type {
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

}

.header-desktop__search-panel[aria-expanded="true"] {
  opacity: 1;
  overflow:visible;
  transform: translateY(0);

  visibility: visible;
}

.header-desktop {
}
