{{ attach_library('intercept_base/header') }}
{% import '@intercept-base-components/account-menu/account-menu.twig' as account %}

{{ attach_library('intercept_base/header-desktop') }}
{% set menu = header.menu %}

<header class="header-desktop desktop" role="banner">
  <div class="header-desktop__inner l-page">
    <div class="header-desktop__logo">
      {% include '@intercept-base-components/logo/logo.twig' with { logo_path: logo_path, alt: site_name ~ ' logo' } only %}
    </div>
    <div class="header-desktop__content">
      <div class="header-desktop__secondary">
        {{ menu }}
        {{ account.account_menu(header.utilities, 'desktop', is_staff, logged_in) }}
      </div>
  </div>
</header>
