//
// @file
// Progress Bar Styles
//

@use 'partials' as *;

.pager {
  @include fs(x-small);
}

.pager__items {
  margin: 0;
  padding: 0;
  text-align: center;
}

.pager__item {
  display: inline-block;
  margin: 0 0.25rem;

  &.is-active a {
    color: #ffffff;
    padding: 2px 5px;
  }
}

.pager__item--ellipsis {
  font-weight: $fw-bold;
}

.pager__link {
  @include link--primary;
  text-decoration: none;
  font-weight: $fw-bold;

  &:hover {
    text-decoration: underline;
  }
}

.pager__item--previous,
.pager__item--next, {
  svg {
    transform: translateY(.125em);
  }
}

.pager__item--previous {
  margin-right: 1em;
}

.pager__item--next {
  margin-left: 1em;
}
