<div class="management-section-action">
  {% if link %}
  <h3 class="management-section-action__title">
    {{link}}
  </h3>
  {% endif %}
  {% if description %}
  <div class="management-section-action__description">
    {{description}}
  </div>
  {% endif %}
</div>
