@use 'partials' as *;

.media__caption {
  @include fs(x-small);
  color: $gray-30;
  font-style: italic;
  margin: 1em 0;
}

.media__caption-credit {
  @include fs(tiny);
  margin-top: .5rem;
}

// Layout
.media--l--section {
  @include spacing(margin-bottom, loose);
}
