.inline-duration-field {
  font-size: 1rem;
  display: flex;
  align-items: baseline;
}

.inline-duration-field input[type="number"] {
  width: 4em;
  padding-right: .25em;
}

.inline-duration-field__duration {
  font-size: 1em;
}

.inline-duration-field  .duration-inner-wrapper {
  display: inline-flex;

  .form-item {
    margin: 0 .5em;
  }

  .form-item + .form-item {
    margin-left: 0;
  }

  label {
    font-weight: 700;
  }
}
