@use "partials" as *;

/**
 * @file
 * Set base styles for the off-canvas dialog.
 */

/* Set some global attributes. */
[id="drupal-off-canvas"] {
  @include fs(small);
  line-height: 1.2;

  h1:not([class]) {
    @include fs(h2);
  }

  h2:not([class]) {
    @include fs(h3);
  }

  h3:not([class]) {
    @include fs(h4);
    @include lh(0);
  }

  h4:not([class]) {
    @include fs(h5);
  }

  h5:not([class]) {
    @include fs(body);
  }

  .field--label-inline {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 1em;
    }

    > .field__label {
      flex: none;
      font-size: inherit;
      font-weight: $fw-bold;
      margin-right: rem(20px);
      width: rem(140px);
    }

    > .field__items {
      font-size: inherit;
    }
  }
}

/* Classes for hidden and visually hidden elements. See hidden.module.css. */
#drupal-off-canvas .hidden {
  display: none;
}
#drupal-off-canvas .visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
#drupal-off-canvas .visually-hidden.focusable:active,
#drupal-off-canvas .visually-hidden.focusable:focus {
  position: static !important;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
}
#drupal-off-canvas .invisible {
  visibility: hidden;
}

/* Some system classes. See system.admin.css. */
#drupal-off-canvas .panel {
  padding: 5px 5px 15px;
}
#drupal-off-canvas .panel__description {
  margin: 0 0 3px;
  padding: 2px 0 3px 0;
}
#drupal-off-canvas .compact-link {
  margin: 0 0 10px 0;
}
#drupal-off-canvas small .admin-link:before {
  content: " [";
}
#drupal-off-canvas small .admin-link:after {
  content: "]";
}

/* Override jQuery UI */
#drupal-off-canvas .ui-widget-content a {
  color: #85bef4 !important;
}

/* Message styles */
#drupal-off-canvas .messages {
  background: no-repeat 10px 17px;
}
[dir="rtl"] #drupal-off-canvas .messages {
  background-position: right 10px top 17px;
}
#drupal-off-canvas .messages abbr {
  color: #444;
}
// #drupal-off-canvas .messages--status {
//   color: #325e1c;
//   background-color: #f3faef;
//   background-image: url(../../../../../../core/misc/icons/73b355/check.svg);
// }
// #drupal-off-canvas .messages--warning {
//   color: #734c00;
//   background-color: #fdf8ed;
//   background-image: url(../../../../../../core/misc/icons/e29700/warning.svg);
// }

// #drupal-off-canvas .messages--error {
//   color: #a51b00;
//   background-color: #fcf4f2;
//   background-image: url(../../../../../../core/misc/icons/e32700/error.svg);
// }

#drupal-off-canvas .messages--error div[role="alert"] {
  color: inherit;
  background: transparent;
}

/**
 * Styling for the off-canvas ui dialog. Including overrides for jQuery UI.
 */

.ui-dialog.ui-dialog-off-canvas #drupal-off-canvas {
  padding: 0 rem(30px) rem(30px);
  flex: 1;
}

/* Style the dialog-off-canvas container. */
.ui-dialog.ui-dialog-off-canvas {
  /* Layer the dialog just under the toolbar. */
  z-index: 501;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: $clr-text;
  border-radius: 0;
  background: white;
  box-shadow: 0 -5px 50px 0 rgba(0,0,0,0.10);
  font-size: inherit;
  font-family: inherit;
  height: auto !important;
  justify-content: stretch;
}

.ui-widget.ui-dialog.ui-dialog-off-canvas {
  border: 0;
}

.ui-dialog.ui-dialog-off-canvas .l--offset {
  padding-left: 0;
  padding-right: 0;
}

/* Style the off-canvas dialog header. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  display: flex;
  padding: rem(24px) rem(30px);
  color: $clr-text;
  border: 0;
  border-radius: 0;
  background-color: $gray-80;
  font-weight: normal;
  flex: none;
}
/* Hide the default jQuery UI dialog close button. */
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close .ui-icon {
  visibility: hidden;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  position: absolute;
  top: calc(50% - 6px);
  right: 1em;
  width: 30px;
  height: 30px;
  transition: all 0.5s ease;
  border: 3px solid transparent;
  background-color: transparent;
  background-image: svg-load('icons/off-canvas-close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:hover,
.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close:focus {
  border: 3px solid #fff;
  background-image: svg-load('icons/off-canvas-close-light.svg');
}

[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  right: auto;
  left: 1em;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  /* Ensure that long titles do not overlap the close button. */
  font-size: rem(20px);
  font-weight: $fw-bold;
  line-height: 1;
  margin: 0;
  max-width: none;
  /* Push the text away from the icon. */
  padding-left: 0; /* LTR */
  padding-right: 0; /* LTR */
  text-align: left; /* LTR */
  /* Ensure that long titles are not truncated. */
  white-space: normal;
}

[dir="rtl"] .ui-dialog.ui-dialog-off-canvas .ui-dialog-title {
  float: right;
  padding-right: 30px;
  padding-left: 0;
  text-align: right;
}
.ui-dialog.ui-dialog-off-canvas .ui-dialog-title:before {
  content: none;
}

/* Override default styling from jQuery UI. */
#drupal-off-canvas .ui-state-default,
#drupal-off-canvas .ui-widget-content .ui-state-default,
#drupal-off-canvas .ui-widget-header .ui-state-default {
  color: #333;
  border: 0;
  font-size: 14px;
  font-weight: normal;
}

#drupal-off-canvas .ui-widget-content a {
  color: #85bef4;
}
