@charset "UTF-8";

/*
 * Field type custom-icon on 'Add field' page
 *
 * Copied from Datetime field in core field_ui.icons.theme.css
 */
.field-icon-office-hours {
  background-image: url("data:image/svg+xml, %3Csvg version='1.0' height='512' viewBox='0 0 512 512' width='512' xmlns='http://www.w3.org/2000/svg' %3E%3Cg transform='translate(0,512) scale(0.1,-0.1)' fill='%23000000' stroke='none'%3E%3Cpath d='M3456 4528 c-544 -40 -1005 -455 -1112 -1000 l-17 -88 -419 0 -418 0 0 -590 0 -590 -525 0 -525 0 0 -880 0 -880 1890 0 1890 0 0 873 1 872 67 45 c88 59 234 206 300 303 215 313 277 714 167 1067 -63 199 -159 356 -309 506 -271 270 -601 391 -990 362z m239 -153 c279 -23 569 -190 748 -430 76 -102 150 -256 184 -382 23 -86 26 -118 26 -258 1 -176 -10 -240 -63 -388 -59 -161 -179 -333 -310 -443 -384 -322 -912 -351 -1330 -75 -73 48 -201 170 -262 251 -63 82 -151 262 -177 360 -30 111 -44 251 -36 359 40 551 475 977 1035 1014 45 3 56 3 185 -8z m-1371 -1167 c25 -298 148 -568 350 -772 107 -108 197 -175 329 -241 328 -166 695 -180 1050 -40 16 7 17 -33 17 -754 l0 -761 -289 0 -289 0 -5 303 c-4 263 -7 312 -25 378 -74 275 -279 460 -547 494 -27 3 -90 1 -139 -5 -258 -32 -454 -193 -543 -445 -28 -80 -28 -81 -33 -400 l-5 -320 -277 -3 -278 -2 0 1325 0 1325 339 0 338 0 7 -82z m-834 -1828 l0 -730 -450 0 -450 0 0 730 0 730 450 0 450 0 0 -730z m1473 275 c138 -36 246 -125 310 -255 60 -121 68 -181 65 -488 l-3 -267 -495 0 -495 0 0 300 c0 297 1 301 26 371 94 258 347 403 592 339z'/%3E%3Cpath d='M3465 3575 c-115 -123 -211 -228 -213 -233 -1 -5 32 -35 74 -67 58 -44 566 -439 651 -507 8 -6 27 10 62 54 28 35 50 68 50 73 0 6 -133 113 -295 239 l-296 229 84 86 c46 47 117 121 158 164 l75 79 -60 54 c-33 30 -64 54 -70 53 -5 0 -104 -101 -220 -224z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*
 * Widget settings
 */
.field--type-office-hours {
  white-space: normal;
  /* vertical-align: middle; */
}
/* Format the 'day' column. */
.office-hours-label {
  text-align: left;
  font-weight: bold;
}
/* Format the 'day' column for additional slots. */
.office-hours-more-label {
  text-align: right;
  font-weight: bold;
  font-style: italic;
}
/* Make each link unbreakable for responsive widget table. */
.office-hours-link {
  display: block;
  white-space: nowrap;
}

/*
 * Formatter settings
 */
/* Formatter settings - default formatter */
.office-hours__item-label {
  /* padding: 0 0 0 0; */
  /* float: left; */
  /* display: inline-block; */
  /* Do not wrap label, slots, comments in cells. */
  vertical-align: text-top;
  white-space: nowrap;
  font-weight: bold;
}
.office-hours__item-caption {
  /* Style section caption/header for weekday, exception, season */
  margin-left: 20px; /* Adds space before the element */
  text-align: left;
}
.office-hours__item-slots {
  /* Do not wrap label, slots, comments in cells. */
  margin-left: 3px; /* Adds space before the element */
  vertical-align: text-top;
  white-space: normal;
}
.office-hours__item-comments {
  /* Do not wrap label, slots, comments in cells. */
  margin-left: 3px; /* Adds space before the element */
  vertical-align: text-top;
  white-space: nowrap;
}

/* Formatter settings - table formatter */
.office-hours__table thead tr {
  /* Style table caption/header for weekday, exception, season */
  text-align: left;
  text-indent: 20px;
  /* color: orangered; */
}

tr.office-hours__item {
  /* Transparent background, hiding table details from user. */
  background: rgba(0, 0, 0, 0);
}

.office-hours__item td {
  /* Do not wrap label, slots, comments in cells. */
}

/* Formatter - the currently active time slot. */
tr.office-hours__item.office-hours__item-current {
  background: rgba(0, 0, 0, 0);
  /* background: rgba(227, 17, 17, 0); */
  /* color: green; */
  /* font-weight: bold; */
}

/* Formatter - status formatter. */
.office-hours-status.office-hours-status--closed {
  /* color: red; */
}
.office-hours-status.office-hours-status--open {
  /* color: green; */
}
