{#
/**
 * Default theme implementation for blocks to output a Fullcalendar.
 *
 * Available variables:
 * - attributes: Drupal attributes.
 * - block_index: Block index.
 *
 * @see template_preprocess_fullcalendar_block()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}></div>
