//
// @file
// Link styles.
//
// These styles deal with icons and hover effects.
//

@mixin link--underline-on-hover {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@mixin link--icon($width: 30px, $height: $width, $display: block ) {
  display: $display;
  width: $width;
  height: $height;
  background-position: center;
  text-indent: $width * 2;
  overflow: hidden;
  white-space: nowrap;
}

@mixin link--social {
  @include link--icon(24px, 30px);
}

@mixin link--arrow($width: .825em, $height: $width * .75) {
  &:after {
    @include pseudo-box($width, $height);
    content: ">";
    display: inline-block;
    background-size: 100%;
    background-position: center;
    margin-left: .25em;
    vertical-align: .0625em;
  }
}

@mixin link--primary {
  color: $gray-00;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover,
  &:focus {
    color: $clr-link;
  }

  &:active,
  &.active--trail {
    color: $clr-link;
  }
}

@mixin link--secondary {
  color: $clr-secondary;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover,
  &:focus {
    color: $clr-secondary-dark;
    text-decoration: none;
  }

  &:active,
  &.active--trail {
    color: $clr-secondary-dark;
    color: $clr-link;
  }
}

@mixin link--tertiary {
  color: $clr-tertiary;
  text-decoration: none;
  transition: color .2s ease-out;

  &:hover,
  &:focus {
    color: $clr-tertiary-dark;
    text-decoration: none;
  }

  &:active,
  &.active--trail {
    color: $clr-tertiary-dark;
    color: $clr-link;
  }
}
